@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
.text-title{
    color: #004B4B;
    font-family: 'Montserrat', sans-serif !important;
}
.bg-green-1{
    background-color: #027777 !important;
    color: white;
}
.bg-green-2{
    background-color: #004B4B !important;
    color: white;
}
